.post-body .label {
    border-radius: 1px;
    padding: 0 5px;
}
.note {
    background-color: #f5f5f5;
}
.note code {
    background-color: #f8f1f4;
    color: #c01d54;
}
a.no-border {
    border: none;
}

@import "_syntaxbox.css";
@import "_resultBox.css";
@import "_btn.css";