.post-body .label {
  border-radius: 1px;
  padding: 0 5px;
}
.note {
  background-color: #f5f5f5;
}
.note code {
  background-color: #f8f1f4;
  color: #c01d54;
}
.codeBox {
  font-size: 1rem;
  position: relative;
  font-style: normal;
  font-weight: 400;
  border-radius: 3px;
  background: #eee;
  padding: 1px 0 0 100px;
  border-left: 5px solid #3d7e9a;
  margin-top: 10px;
}
.codeBox .syntax {
  font-size: 1rem;
  position: relative;
  font-style: normal;
  font-weight: 400;
  background: #eee;
  color: #333;
  overflow: auto;
  padding-bottom: 0;
}
.codeBox .ribbon {
  position: absolute;
  width: 80px;
  height: 60px;
  background: #e74c3c;
  top: -10px;
  left: 5px;
  color: #fff;
  font-size: 1.2rem;
  text-align: center;
  line-height: 60px;
  box-shadow: 2px 0 2px rgba(0,0,0,0.2);
}
.codeBox .ribbon::before {
  content: "";
  position: absolute;
  top: 0;
  right: -10px;
  border-bottom: 10px solid #bf2718;
  border-right: 10px solid transparent;
}
.codeBox .ribbon::after {
  content: "";
  position: absolute;
  top: 60px;
  left: 0;
  border-width: 20px 40px;
  border-style: solid;
  border-color: #e74c3c transparent transparent;
}
a.no-border {
  border: none;
}
a.btnEft {
  position: relative;
  display: inline-block;
  padding: 8px 16px;
  border: 2px solid #111;
  color: #111;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}
a.btnEft > span {
  z-index: 3;
  position: relative;
}
a.btnEft::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -2px;
  width: calc(100% + 4px);
  height: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleY(1);
}
a.btnEft::after {
  content: '';
  position: absolute;
  left: 6px;
  top: -2px;
  height: calc(100% + 4px);
  width: calc(100% - 12px);
  background: #fff;
  transition: 0.5s ease-in-out;
  transform: scaleX(1);
}
a.btnEft:hover::before {
  transform: scaleY(0);
}
a.btnEft:hover::after {
  transform: scaleX(0);
}
.result {
  width: 95%;
  margin: 20px auto 0;
  background: radial-gradient(#fdfbfb, #ebedee);
  position: relative;
  padding: 60px 10px 10px 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
}
.result--light {
  background-image: radial-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.result--dark {
  background: linear-gradient(to bottom, #323232 0%, #3f3f3f 40%, #1c1c1c 150%), linear-gradient(to top, rgba(255,255,255,0.4) 0%, rgba(0,0,0,0.25) 200%);
  background-blend-mode: multiply;
}
.result .ribbon {
  position: absolute;
  width: 200px;
  height: 40px;
  left: -10px;
  top: 20px;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
  color: #fff;
}
.ribbon--success {
  background: #2ecc71;
}
.ribbon--success::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #208e4e;
  border-left: 10px solid transparent;
  top: -10px;
  left: 0;
}
.ribbon--success::after {
  content: "";
  position: absolute;
  border-top: 20px solid #2ecc71;
  border-bottom: 20px solid #2ecc71;
  border-right: 20px solid transparent;
  right: -20px;
}
.ribbon--danger {
  background: #eb2f06;
}
.ribbon--danger::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #a02004;
  border-left: 10px solid transparent;
  top: -10px;
  left: 0;
}
.ribbon--danger::after {
  content: "";
  position: absolute;
  border-top: 20px solid #eb2f06;
  border-bottom: 20px solid #eb2f06;
  border-right: 20px solid transparent;
  right: -20px;
}
.ribbon--primary {
  background: #9b59b6;
}
.ribbon--primary::before {
  content: "";
  position: absolute;
  border-bottom: 10px solid #713b87;
  border-left: 10px solid transparent;
  top: -10px;
  left: 0;
}
.ribbon--primary::after {
  content: "";
  position: absolute;
  border-top: 20px solid #9b59b6;
  border-bottom: 20px solid #9b59b6;
  border-right: 20px solid transparent;
  right: -20px;
}
